*{
    margin:0;
    padding: 0;
}

.introduction{
    width: 100%;
    top: 10%;
    bottom: 10%;
    text-align: center;
}

.background-image{
    opacity: 0.2;
}

.subject-col{
    width: 18rem
}

.row{
    display: flex;
    justify-content: space-around;
}

.first-content{
    text-align: center;
    margin-top: 30px;
}

.second-content{
    text-align: center;
    margin-top: 30px;
}

.third-content{
    text-align: center;
    margin-top: 30px;
}

.logo{
    max-height: 250px
}

.sec{
    scale: 1.05
}

.footer{
    text-align: center;
    background-color: black;
    margin:0%
}